//bryao.usw-18.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.2b946d94-6904-426a-96f1-57991debaf1e/contents/release/npm/:_authToken=${FOUNDRY_TOKEN}
@dinethemoodapp:registry=https://bryao.usw-18.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.2b946d94-6904-426a-96f1-57991debaf1e/contents/release/npm